<main class="main-content">
    <div class="bg-fullscreen"></div>
    <!-- Khu vực banner phía trên sản phẩm -->
    <section class="hero-banner" aria-label="Khu vực banner">
        <img src="https://mega.com.vn/media/news/2605_hinh-nen-cong-nghe-pc47.jpg" 
            alt="Ảnh banner" 
            class="bg-image">

        <div class="hero-content">
            <h1>Chào mừng bạn đến website</h1>
        </div>
    </section>


    <section class="product-list">
        <div class="product-">
            <h2>Chuột</h2>
            <div class="product-grid">
                <div class="product-item">
                    
                </div>

                <div class="product-item">
                    
                </div>
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                   
                </div>
            </div>

        </div>
        <div class="product-">
            <h2>Bàn phím</h2>
            <div class="product-grid">
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                    
                </div>
            </div>
        </div>
        <div class="product-">
            <h2>Tai nghe</h2>
            <div class="product-grid">
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                    
                </div>
            </div>
        </div>
        <div class="product-">
            <h2>Màn hình</h2>
            <div class="product-grid">
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                    
                </div>
            </div>
        </div>
        <!-- <div class="product-">
            <h2>RAM, SSD</h2>
            <div class="product-grid">
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                    
                </div>
            </div>
        </div> -->

                <div class="product-">
            <h2>Case</h2>
            <div class="product-grid">
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                    
                </div>
            </div>
        </div>

                <div class="product-">
            <h2>Máy</h2>
            <div class="product-grid">
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                   
                </div>
                <div class="product-item">
                    
                </div>
                <div class="product-item">
                    
                </div>
            </div>
        </div>
    </section>
</main>