<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" href="../Style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>
<footer class="footer">
    <div class="contact">
        <p>&copy; 2025 3TD Shop. All rights reserved.</p>
        <p>Email: support@gearshop.com</p>
        <p>Hotline: 033-8386-99</p>
    </div>
    <div class="social-links">
        <a href="#"><i class='bx bxl-facebook'></i> Facebook</a>
        <a href="#"><i class='bx bxl-instagram'></i> Instagram</a>
        <a href="#"><i class='bx bxl-youtube'></i> YouTube</a>
    </div>
</footer>
</body>
</html>
