<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maincontent</title>
    <link rel="stylesheet" href="../Style/style.css">
</head>
<body>

<main class="main-content">
    <section class="product-list">
        <div class="product-">
            <h2>Chuột</h2>
            <div class="product-grid">
                <div class="product-item">
                    <a href="../Layout/product.html">
                        <img src="../../Images/Chuot-Razer-Khong-day-Viper-V3-Pro-den.jpg" alt="Chuột Razer Không Dây Viper V3 Pro - Đen">
                        <p>Chuột Razer Không Dây Viper V3 Pro - Đen</p>
                        <p><strong>3,690,000₫</strong></p>
                    </a>
                </div>

                <div class="product-item">
                    <img src="../../Images/logitech-g102-lightsync-rgb-Black.jpg" alt="Chuột Logitech G102 LightSync Black">
                    <p>Chuột Logitech G102 LightSync Black</p>
                    <p><strong>390.000₫</strong></p>
                </div>
                <div class="product-item">
                    <img src="../../Images/chuot-razer-deathadder-essential-white.jpg" alt="Chuột Razer Deathadder Essential White">
                    <p>Chuột Razer Deathadder Essential White</p>

                    <p><strong>410.000₫</strong></p>
                </div>
                <div class="product-item">
                    <img src="../../Images/chuot-razer-death-adder.jpg" alt="Chuột Razer DeathAdder Essential (RZ01-03850100-R3M1)">
                    <p>Chuột Razer DeathAdder Essential (RZ01-03850100-R3M1)</p>
                    <p><strong>400.000₫</strong></p>
                </div>
                <div class="product-item">
                    <img src="../../Images/chuot-khong-dayRapoo M21 Silent.jpg" alt="Chuột Không Dây Rapoo M21 Silent">
                    <p>Chuột Không Dây Rapoo M21 Silent</p>
                    <p><strong>150.000₫</strong></p>
                </div>
                <div class="product-item">
                    <img src="../../Images/eries-aerox-3-wireless-snow-edition.jpg" alt="Chuột Steelseries Aerox 3 Wireless Snow Edition">
                    <p>Chuột Steelseries Aerox 3 Wireless Snow Edition</p>
                    <p><strong>2.490.000₫</strong></p>
                </div>
            </div>

        </div>
        <div class="product-">
            <h2>Bàn phím</h2>
            <div class="product-grid">
                <div class="product-item">
                    <img src="../../Images/mode-phien-ban-den-hong-gradientreaper-switch.jpg" alt="Bàn phím AULA F75 (Đen +Hồng Gradient/Reaper switch)">
                    <p>Bàn phím AULA F75 (Đen +Hồng Gradient/Reaper switch)</p>

                    <p><strong>1.190.000₫</strong></p>
                </div>
                <div class="product-item">
                    <img src="../../Images/ek87_pro_-_black_golden.jpg" alt="Bàn phím cơ gaming DareU EK87 Pro Black Golden Cloud switch">
                    <p>Bàn phím cơ gaming DareU EK87 Pro Black Golden Cloud switch</p>
                    <p><strong>1.130.000₫</strong></p>
                </div>
                <div class="product-item">
                    <img src="../../Images/haze_blue_7.jpg" alt="Bàn phím cơ gaming DareU EK106 Pro Haze Blue Cloud switch">
                    <p>Bàn phím cơ gaming DareU EK106 Pro Haze Blue Cloud switch</p>
                    <p><strong>1.250.000₫</strong></p>
                </div>
                <div class="product-item">
                    <img src="../../Images/AULA-S98-PRO-TM.jpg" alt="Bàn phím AULA S98 PRO TM (Xanh lá + Trắng/ Grey Wood V4 switch)">
                    <p>Bàn phím AULA S98 PRO TM (Xanh lá + Trắng/ Grey Wood V4 switch)</p>
                    <p><strong>1.590.000₫</strong></p>
                </div>
                <div class="product-item">
                    <img src="../../Images/Durgod-MK-75-White-Blue-Switch.jpg" alt="Bàn phím Durgod MK 75 White Blue Switch">
                    <p>Bàn phím Durgod MK 75 White Blue Switch</p>
                    <p><strong>690.000₫</strong></p>
                </div>
                <div class="product-item">
                    <img src="../../Images/AKKO-MonsGeek-MG75-Prunus.jpg" alt="Bàn phím cơ AKKO MonsGeek MG75 Prunus Lannesiana Akko V3 Cream Yellow switch">
                    <p>Bàn phím cơ AKKO MonsGeek MG75 Prunus Lannesiana Akko V3 Cream Yellow switch</p>
                    <p><strong>650.000₫</strong></p>
                </div>
            </div>
        </div>
        <div class="product-">
                <h2>Tai nghe</h2>
                <div class="product-grid">
                    <div class="product-item">
                        <img src="../../Images/Tai-nghe-gaming-Rapoo-VH520C.jpg" alt="Tai nghe gaming Rapoo VH520C">
                        <p>Tai nghe gaming Rapoo VH520C</p>
                        <p><strong>370.000₫</strong></p>
                    </div>
                    <div class="product-item">
                        <img src="../../Images/Tai-nghe-DareU-EH469-7.1-RGB-Pink.jpg" alt="Tai nghe DareU EH469 7.1 RGB Pink">
                        <p>Tai nghe DareU EH469 7.1 RGB Pink</p>
                        <p><strong>380.000₫</strong></p>
                    </div>
                    <div class="product-item">
                        <img src="../../Images/Tai-nghe-Razer-Kraken-V3-X-USB.jpg" alt="Tai nghe Razer Kraken V3 X USB">
                        <p>Tai nghe Razer Kraken V3 X USB</p>
                        <p><strong>1.250.000₫</strong></p>
                    </div>
                    <div class="product-item">
                        <img src="../../Images/Tai-nghe-Logitech-G-PRO-X-2-LIGHTSPEED-White.jpg" alt="Tai nghe Logitech G PRO X 2 LIGHTSPEED White">
                        <p>Tai nghe Logitech G PRO X 2 LIGHTSPEED White</p>
                        <p><strong>4.590.000₫</strong></p>
                    </div>
                    <div class="product-item">
                        <img src="../../Images/Tai-nghe-Edifier-khong-day-W830NB-White.jpg" alt="Tai nghe Edifier không dây W830NB White">
                        <p>Tai nghe Edifier không dây W830NB White</p>
                        <p><strong>1.490.000₫</strong></p>
                    </div>
                    <div class="product-item">
                        <img src="../../Images/Tai-nghe-Asus-ROG-Cetra-true-Wireless.jpg" alt="Tai nghe Asus ROG Cetra True Wireless">
                        <p>Tai nghe Asus ROG Cetra True Wireless</p>
                        <p><strong>1.750.000₫</strong></p>
                    </div>
                </div>
        </div>
    </section>
</main>
</body>
</html>
